# Mahalanobis distance
The following algorithm is based loosely on Tax DMJ, Müller K-R. <a href="http://dl.acm.org/citation.cfm?id=1767174">Feature Extraction for One-Class Classification</a>. Artificial Neural Networks and Neural Information Processing. Springer-Verlag Berlin Heidelberg; 2003. pp. 342–349. 

This paper uses a method very similar to the centroid method used in ```Method 1 - Centroid Based Algorithm.ipynb```. Instead of Euclidean distance, it uses the Mahalanobis distance, $d_S$:
$$ d_S^2 = (\mathbf{x} - \mathbf{\bar{x}})^TS^{-1}_n(\mathbf{x} - \mathbf{\bar{x}}) $$
where $\mathbf{x}$ is the input data, $\mathbf{\bar{x}}$ is the mean of the input data, and $S^{-1}_n$ is the estimator for the covariance matrix:
$$ S^{-1}_n = \frac{1}{n-1}(\mathbf{x} - \mathbf{\bar{x}})(\mathbf{x} - \mathbf{\bar{x}})^T $$

Tax and Müller computed the threshold $d_S^2$ with the following equation:
$$ \frac{(n-1)^2}{n} \int_0^{d_S^2} Beta\Big(g;\frac{p}{2}, \frac{n-p-1}{2}\Big)dg = f $$
where $n$ is the number of observations, $p$ is the number of features, $Beta()$ is the beta distribution pdf, and $f$ is the fraction of data that is to be classified as normal. I will use this value as a starting point and validate for several $d_S^2$ values.

The authors went further and tested how removing the high variance and low variance PCA components affected the model. Since my data has already been transformed, this would be trivial for me.

See ```Data Exploration and Setup.ipynb``` for more information on the data set used and how it was split.

## Initial Training With All PCA Features

In [1]:
%matplotlib inline

In [71]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score
import matplotlib.pyplot as plt
from scipy.stats import beta
from numpy.linalg import inv

In [3]:
#load training data
X_train = pd.read_csv('X_train.csv')

In [4]:
X_train.shape #should be (142403, 30)

(142403, 30)

Since I can't determine unique credit cards, I'm going to drop the 'Time' feature. I'm also going to mean normalize the data. This should make calculations a bit simpler. I'm going to keep the 'Amount' feature briefly to create a point of comparison to the other methods I've already tested.

In [5]:
X_train = X_train.drop('Time', 1)
X_train.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,-1.309615,0.118858,2.890224,3.259563,-0.975216,2.053227,-1.225558,1.224267,-0.036384,0.050075,...,0.301116,0.240538,0.707201,-0.251083,-0.450744,0.272565,0.567029,0.027397,-0.040843,82.24
1,-1.507604,-0.445468,0.383992,1.756901,-1.186740,0.489871,1.460411,0.438009,-0.487785,-0.816031,...,0.816683,0.340005,0.171648,0.960273,0.016460,-0.199284,-0.286972,-0.063034,0.074770,435.00
2,-3.579097,-3.780828,0.915284,0.811619,1.384262,-1.373492,-1.609020,0.818499,-1.445239,0.202760,...,0.866831,0.086957,-1.077871,0.391329,-0.448916,-0.352105,-0.870777,0.077323,-0.479606,189.00
3,-0.198195,-0.493945,1.132765,-0.409765,-0.872015,0.871469,0.279736,0.418671,0.962524,-0.824186,...,0.186004,-0.001488,-0.152296,0.564498,0.738859,-0.708118,0.285887,-0.040291,0.018017,187.10
4,-0.702706,1.432597,0.997674,0.906160,-0.158996,-0.563226,0.375988,0.414078,-0.757303,-0.289653,...,-0.018858,0.198920,0.667377,-0.051745,0.418866,-0.283271,-0.305879,0.312144,0.162622,2.18

In [6]:
X_train.shape

(142403, 29)

In [7]:
X_train = (X_train - X_train.mean()) / (X_train.std())

In [8]:
p = X_train.shape[1] #number of features
n = X_train.shape[0] #number of observations

In [9]:
#find some thetas to test by choosing several f's
f=np.array([0.9, 0.95, 0.99, 0.999])

In [10]:
#shape parameters for beta distribution
a = p / 2
b = (n - p - 1) / 2

In [11]:
# using scipy for the beta distribution
q = f * n / (n - 1)**2 + beta.cdf(0, a, b)

In [43]:
# ppf gives the value of x where F(x)=q
thetas = beta.ppf(q, a, b)

In [44]:
thetas

array([  4.76607070e-05,   4.78879035e-05,   4.80621370e-05,
         4.81004764e-05])

In [14]:
Sn = 1 / (n - 1) * np.dot(X_train.T, X_train) #mean is zero

In [15]:
Sn.shape # should be (29,29)

(29, 29)

In [16]:
Sn_inv = inv(Sn)

In [17]:
# load validation data
X_val = pd.read_csv('X_val.csv')

In [18]:
X_val.shape #should be (56961, 30)

(56961, 30)

In [19]:
#drop 'Time' and mean normalize
X_val = X_val.drop('Time', 1)
X_val = (X_val - X_val.mean()) / (X_val.std())

In [20]:
X_val.shape # should be (56961, 29)

(56961, 29)

In [35]:
val_distances = []

In [36]:
for row in X_val.values:
    distance = np.dot(np.dot(row, Sn_inv), row.T)
    val_distances.append(distance)

In [37]:
val_distances = np.array(val_distances)

In [38]:
val_distances.shape #should be (56961)

(56961,)

In [40]:
y_val = pd.read_csv('y_val.csv', header=None)

In [41]:
y_val.shape #should be (56961, 1)

(56961, 1)

I'll use the ```roc_auc_score()``` function from scikit learn to calculate the area under the curve.

In [45]:
auc = pd.DataFrame({'theta': [], 'AUC': []})

for theta in thetas:
    row = {}
    row['theta'] = theta
    
    y_predicted = np.zeros_like(y_val)
    y_predicted[np.where(val_distances > theta)] = 1
    row['AUC'] = roc_auc_score(y_val, y_predicted)
    
    auc = auc.append(row, ignore_index=True)
auc

   AUC     theta
0  0.5  0.000048
1  0.5  0.000048
2  0.5  0.000048
3  0.5  0.000048

Okay, looks like the beta distribution didn't work for theta.

In [46]:
thetas = [0.01, 0.1, 1, 10, 100]

In [47]:
auc = pd.DataFrame({'theta': [], 'AUC': []})

for theta in thetas:
    row = {}
    row['theta'] = theta
    
    y_predicted = np.zeros_like(y_val)
    y_predicted[np.where(val_distances > theta)] = 1
    row['AUC'] = roc_auc_score(y_val, y_predicted)
    
    auc = auc.append(row, ignore_index=True)
auc

        AUC   theta
0  0.500000    0.01
1  0.500000    0.10
2  0.500000    1.00
3  0.598782   10.00
4  0.914957  100.00

In [48]:
thetas = [80, 90, 100, 110, 120]

In [49]:
auc = pd.DataFrame({'theta': [], 'AUC': []})

for theta in thetas:
    row = {}
    row['theta'] = theta
    
    y_predicted = np.zeros_like(y_val)
    y_predicted[np.where(val_distances > theta)] = 1
    row['AUC'] = roc_auc_score(y_val, y_predicted)
    
    auc = auc.append(row, ignore_index=True)
auc

        AUC  theta
0  0.911989   80.0
1  0.913689   90.0
2  0.914957  100.0
3  0.913498  110.0
4  0.914415  120.0

In [50]:
auc.loc[auc['AUC'].idxmax()]

AUC        0.914957
theta    100.000000
Name: 2, dtype: float64

Okay, just going to use theta=100 for now.

In [56]:
theta = 100

In [154]:
#load test data
X_test = pd.read_csv('X_test.csv')

In [155]:
X_test.shape #should be (56961, 30)

(56961, 30)

In [156]:
X_test = X_test.drop('Time', 1)

In [157]:
X_test.shape

(56961, 29)

In [158]:
X_test = (X_test - X_test.mean()) / (X_test.std())

In [62]:
test_distances = []

In [63]:
for row in X_test.values:
    distance = np.dot(np.dot(row, Sn_inv), row.T)
    test_distances.append(distance)

In [64]:
test_distances = np.array(test_distances)

In [65]:
test_distances.shape #should be (56961)

(56961,)

In [66]:
y_test = pd.read_csv('y_test.csv', header=None)

In [67]:
y_test.shape #should be (56961, 1)

(56961, 1)

In [68]:
y_predicted = np.zeros_like(y_test)

In [69]:
y_predicted[np.where(test_distances >= theta)] = 1

In [70]:
auc_final = roc_auc_score(y_test, y_predicted)
auc_final

0.91359294355193865

This is only slightly better than the centroid model. How about the false positive and false positive rates, like in the paper? Reminder, I define them the opposite way, so my false positive rate is $f_t$ and my false negative rate is $f_o$. Unfortunately, scikit learn can only calculate the false negative rate.

In [72]:
fo_final = 1 - recall_score(y_test, y_predicted)
fo_final

0.15104166666666663

So 15% of my outliers were misclassified.

## Initial Training Without 'Amount'
Now I'll take out the 'Amount' column so I only have the principle components and can test what happens to the accuracy when I remove some components.

In [73]:
X_train = X_train.drop('Amount', 1)
X_train.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28
0,-0.682692,0.074469,1.970368,2.334024,-0.726982,1.552156,-1.069496,1.067019,-0.033580,0.038373,...,2.323331,0.399102,0.342939,0.979191,-0.400054,-0.744034,0.519602,1.177438,0.069908,-0.116969
1,-0.785382,-0.271208,0.252359,1.260744,-0.884156,0.369222,1.251890,0.382128,-0.448178,-0.790600,...,0.773530,1.081643,0.483848,0.237376,1.536345,0.027659,-0.385820,-0.595336,-0.158483,0.217217
2,-1.859792,-2.314285,0.616556,0.585573,1.026250,-1.040716,-1.400908,0.713564,-1.327569,0.184511,...,-0.718294,1.148032,0.125371,-1.493380,0.626866,-0.741014,-0.679065,-1.807222,0.195999,-1.385237
3,-0.106238,-0.300903,0.765639,-0.286803,-0.650297,0.657964,0.231476,0.365284,0.883884,-0.798406,...,0.367031,0.246710,0.000076,-0.211331,0.903684,1.220864,-1.362212,0.593830,-0.101044,0.053170
4,-0.367910,0.879201,0.673034,0.653100,-0.120482,-0.427617,0.314663,0.361283,-0.695722,-0.286790,...,-0.106304,-0.024500,0.283982,0.924030,-0.081404,0.692324,-0.546980,-0.634584,0.789052,0.471159

In [166]:
X_train.shape #should be (142403, 28)

(142403, 28)

In [75]:
X_train = (X_train - X_train.mean()) / (X_train.std())

In [76]:
p = X_train.shape[1] #number of features
n = X_train.shape[0] #number of observations

Let's try the beta distribution again.

In [79]:
#find some thetas to test by choosing several f's
f=np.array([0.9, 0.95, 0.99, 0.999])

In [80]:
#shape parameters for beta distribution
a = p / 2
b = (n - p - 1) / 2

In [81]:
# using scipy for the beta distribution
q = f * n / (n - 1)**2 + beta.cdf(0, a, b)

In [82]:
# ppf gives the value of x where F(x)=q
thetas = beta.ppf(q, a, b)

In [83]:
thetas

array([  4.45415986e-05,   4.47594810e-05,   4.49265866e-05,
         4.49633593e-05])

In [84]:
Sn = 1 / (n - 1) * np.dot(X_train.T, X_train) #mean is zero

In [85]:
Sn.shape # should be (29,29)

(28, 28)

In [86]:
Sn_inv = inv(Sn)

In [87]:
#drop 'Amount' and mean normalize
X_val = X_val.drop('Amount', 1)
X_val = (X_val - X_val.mean()) / (X_val.std())

In [88]:
X_val.shape # should be (56961, 28)

(56961, 28)

In [89]:
val_distances = []

In [90]:
for row in X_val.values:
    distance = np.dot(np.dot(row, Sn_inv), row.T)
    val_distances.append(distance)

In [91]:
val_distances = np.array(val_distances)

In [92]:
val_distances.shape #should be (56961)

(56961,)

In [98]:
auc = pd.DataFrame({'theta': [], 'AUC': []})

for theta in thetas:
    row = {}
    row['theta'] = theta
    
    y_predicted = np.zeros_like(y_val)
    y_predicted[np.where(val_distances > theta)] = 1
    row['AUC'] = roc_auc_score(y_val, y_predicted)
    
    auc = auc.append(row, ignore_index=True)
auc

        AUC   theta
0  0.500000    0.01
1  0.500000    0.10
2  0.500000    1.00
3  0.599910   10.00
4  0.912988  100.00

Still bad...

In [99]:
thetas = [0.01, 0.1, 1, 10, 100]

In [100]:
auc = pd.DataFrame({'theta': [], 'AUC': []})

for theta in thetas:
    row = {}
    row['theta'] = theta
    
    y_predicted = np.zeros_like(y_val)
    y_predicted[np.where(val_distances > theta)] = 1
    row['AUC'] = roc_auc_score(y_val, y_predicted)
    
    auc = auc.append(row, ignore_index=True)
auc

        AUC   theta
0  0.500000    0.01
1  0.500000    0.10
2  0.500000    1.00
3  0.599910   10.00
4  0.912988  100.00

In [101]:
thetas = [80, 90, 100, 110, 120]

In [102]:
auc = pd.DataFrame({'theta': [], 'AUC': []})

for theta in thetas:
    row = {}
    row['theta'] = theta
    
    y_predicted = np.zeros_like(y_val)
    y_predicted[np.where(val_distances > theta)] = 1
    row['AUC'] = roc_auc_score(y_val, y_predicted)
    
    auc = auc.append(row, ignore_index=True)
auc

        AUC  theta
0  0.912799   80.0
1  0.911825   90.0
2  0.912988  100.0
3  0.913974  110.0
4  0.914908  120.0

In [104]:
thetas = [120, 130, 140, 150]

In [105]:
auc = pd.DataFrame({'theta': [], 'AUC': []})

for theta in thetas:
    row = {}
    row['theta'] = theta
    
    y_predicted = np.zeros_like(y_val)
    y_predicted[np.where(val_distances > theta)] = 1
    row['AUC'] = roc_auc_score(y_val, y_predicted)
    
    auc = auc.append(row, ignore_index=True)
auc

        AUC  theta
0  0.914908  120.0
1  0.915665  130.0
2  0.913722  140.0
3  0.911673  150.0

In [106]:
auc.loc[auc['AUC'].idxmax()]

AUC        0.915665
theta    130.000000
Name: 1, dtype: float64

Now to remove some components and see what happens.

In [119]:
thetas = [80, 90, 100, 110, 120, 130, 140, 150]

In [150]:
#removing high variance first
auc = pd.DataFrame({'theta': [], 'AUC': [], 'HV cols removed': []})

for i in range(1,11):
    dict_row = {}
    dict_row['HV cols removed'] = i
    
    #create the training subsets and renormalize
    X_train_subset = X_train.ix[:,i:]
    X_train_subset = (X_train_subset - X_train_subset.mean()) / (X_train_subset.std())
    
    #recalculate Sn
    p = X_train_subset.shape[1] 
    n = X_train_subset.shape[0]
    Sn = 1 / (n - 1) * np.dot(X_train_subset.T, X_train_subset) #mean is zero
    Sn_inv = inv(Sn)
    
    #create the validation subsets and renormalize
    X_val_subset = X_val.ix[:,i:]
    X_val_subset = (X_val_subset - X_val_subset.mean()) / (X_val_subset.std())
    
    #get the distances
    val_distances = []
    for row in X_val_subset.values:
        distance = np.dot(np.dot(row, Sn_inv), row.T)
        val_distances.append(distance)
    val_distances = np.array(val_distances)

    for theta in thetas:
        dict_row['theta'] = theta

        y_predicted = np.zeros_like(y_val)
        y_predicted[np.where(val_distances > theta)] = 1
        dict_row['AUC'] = roc_auc_score(y_val, y_predicted)

        auc = auc.append(dict_row, ignore_index=True)
auc

         AUC  HV cols removed  theta
0   0.913389              1.0   80.0
1   0.912212              1.0   90.0
2   0.913428              1.0  100.0
3   0.914503              1.0  110.0
4   0.915375              1.0  120.0
5   0.916150              1.0  130.0
6   0.914145              1.0  140.0
7   0.912025              1.0  150.0
8   0.911684              2.0   80.0
9   0.912873              2.0   90.0
10  0.914150              2.0  100.0
11  0.915181              2.0  110.0
12  0.916035              2.0  120.0
13  0.916608              2.0  130.0
14  0.914656              2.0  140.0
15  0.912580              2.0  150.0
16  0.911878              3.0   80.0
17  0.913058              3.0   90.0
18  0.914265              3.0  100.0
19  0.915357              3.0  110.0
20  0.916150              3.0  120.0
21  0.914224              3.0  130.0
22  0.912246              3.0  140.0
23  0.907593              3.0  150.0
24  0.912151              4.0   80.0
25  0.913402              4.0   90.0
26  0.914520              4.0  100.0
27  0.915542              4.0  110.0
28  0.911206              4.0  120.0
29  0.906747              4.0  130.0
..       ...              ...    ...
50  0.910669              7.0  100.0
51  0.906342              7.0  110.0
52  0.896719              7.0  120.0
53  0.894776              7.0  130.0
54  0.895269              7.0  140.0
55  0.888021              7.0  150.0
56  0.912313              8.0   80.0
57  0.910783              8.0   90.0
58  0.911576              8.0  100.0
59  0.907108              8.0  110.0
60  0.894979              8.0  120.0
61  0.892930              8.0  130.0
62  0.893511              8.0  140.0
63  0.886281              8.0  150.0
64  0.910343              9.0   80.0
65  0.908655              9.0   90.0
66  0.906950              9.0  100.0
67  0.899984              9.0  110.0
68  0.892833              9.0  120.0
69  0.893317              9.0  130.0
70  0.888779              9.0  140.0
71  0.886536              9.0  150.0
72  0.906289             10.0   80.0
73  0.896984             10.0   90.0
74  0.895146             10.0  100.0
75  0.890546             10.0  110.0
76  0.890978             10.0  120.0
77  0.886290             10.0  130.0
78  0.873896             10.0  140.0
79  0.858942             10.0  150.0

[80 rows x 3 columns]

In [151]:
auc.loc[auc['AUC'].idxmax()]

AUC                  0.916608
HV cols removed      2.000000
theta              130.000000
Name: 13, dtype: float64

In [152]:
#now low variance first
auc = pd.DataFrame({'theta': [], 'AUC': [], 'LV cols removed': []})

for i in range(1,11):
    dict_row = {}
    dict_row['LV cols removed'] = i
    
    #create the training subsets and renormalize
    X_train_subset = X_train.ix[:,:-i]
    X_train_subset = (X_train_subset - X_train_subset.mean()) / (X_train_subset.std())
    
    #recalculate Sn
    p = X_train_subset.shape[1] 
    n = X_train_subset.shape[0]
    Sn = 1 / (n - 1) * np.dot(X_train_subset.T, X_train_subset) #mean is zero
    Sn_inv = inv(Sn)
    
    #create the validation subsets and renormalize
    X_val_subset = X_val.ix[:,:-i]
    X_val_subset = (X_val_subset - X_val_subset.mean()) / (X_val_subset.std())
    
    #get the distances
    val_distances = []
    for row in X_val_subset.values:
        distance = np.dot(np.dot(row, Sn_inv), row.T)
        val_distances.append(distance)
    val_distances = np.array(val_distances)

    for theta in thetas:
        dict_row['theta'] = theta

        y_predicted = np.zeros_like(y_val)
        y_predicted[np.where(val_distances > theta)] = 1
        dict_row['AUC'] = roc_auc_score(y_val, y_predicted)

        auc = auc.append(dict_row, ignore_index=True)
auc

         AUC  LV cols removed  theta
0   0.913759              1.0   80.0
1   0.912732              1.0   90.0
2   0.913860              1.0  100.0
3   0.914793              1.0  110.0
4   0.915612              1.0  120.0
5   0.916282              1.0  130.0
6   0.914259              1.0  140.0
7   0.912131              1.0  150.0
8   0.914878              2.0   80.0
9   0.913675              2.0   90.0
10  0.914644              2.0  100.0
11  0.915595              2.0  110.0
12  0.916291              2.0  120.0
13  0.916925              2.0  130.0
14  0.914911              2.0  140.0
15  0.912704              2.0  150.0
16  0.915054              3.0   80.0
17  0.913807              3.0   90.0
18  0.914793              3.0  100.0
19  0.915630              3.0  110.0
20  0.916370              3.0  120.0
21  0.914444              3.0  130.0
22  0.914955              3.0  140.0
23  0.912739              3.0  150.0
24  0.915380              4.0   80.0
25  0.914009              4.0   90.0
26  0.914943              4.0  100.0
27  0.915868              4.0  110.0
28  0.916546              4.0  120.0
29  0.914585              4.0  130.0
..       ...              ...    ...
50  0.916079              7.0  100.0
51  0.916863              7.0  110.0
52  0.917541              7.0  120.0
53  0.915440              7.0  130.0
54  0.913294              7.0  140.0
55  0.913787              7.0  150.0
56  0.912868              8.0   80.0
57  0.913766              8.0   90.0
58  0.914462              8.0  100.0
59  0.915105              8.0  110.0
60  0.915695              8.0  120.0
61  0.913725              8.0  130.0
62  0.914104              8.0  140.0
63  0.912038              8.0  150.0
64  0.913933              9.0   80.0
65  0.914788              9.0   90.0
66  0.915413              9.0  100.0
67  0.916144              9.0  110.0
68  0.916761              9.0  120.0
69  0.914650              9.0  130.0
70  0.912460              9.0  140.0
71  0.910306              9.0  150.0
72  0.914092             10.0   80.0
73  0.914920             10.0   90.0
74  0.915545             10.0  100.0
75  0.916338             10.0  110.0
76  0.914324             10.0  120.0
77  0.914738             10.0  130.0
78  0.912531             10.0  140.0
79  0.907834             10.0  150.0

[80 rows x 3 columns]

In [153]:
auc.loc[auc['AUC'].idxmax()]

AUC                  0.917541
LV cols removed      7.000000
theta              120.000000
Name: 52, dtype: float64

Removing the low variance actually did the best overall, but only by 0.02%.

In [135]:
theta = 120

In [168]:
X_train_subset = X_train.ix[:,:-7]
X_train_subset = (X_train_subset - X_train_subset.mean()) / (X_train_subset.std())

#recalculate Sn
p = X_train_subset.shape[1] 
n = X_train_subset.shape[0]
Sn = 1 / (n - 1) * np.dot(X_train_subset.T, X_train_subset) #mean is zero
Sn_inv = inv(Sn)

In [169]:
X_train_subset.shape #should be (142403, 21)

(142403, 21)

In [ ]:
X_test = X_test.drop('Amount', 1)

In [160]:
X_test = X_test.ix[:,:-7]

In [171]:
X_test.shape

(56961, 21)

In [172]:
X_test = (X_test - X_test.mean()) / (X_test.std())

In [173]:
test_distances = []

In [174]:
for row in X_test.values:
    distance = np.dot(np.dot(row, Sn_inv), row.T)
    test_distances.append(distance)

In [175]:
test_distances = np.array(test_distances)

In [176]:
test_distances.shape #should be (56961)

(56961,)

In [177]:
y_predicted = np.zeros_like(y_test)

In [178]:
y_predicted[np.where(test_distances >= theta)] = 1

In [179]:
auc_final = roc_auc_score(y_test, y_predicted)
auc_final

0.91226285472705182

In [180]:
fo_final = 1 - recall_score(y_test, y_predicted)
fo_final

0.16666666666666663

Very little change.